:root {
  --primary-font-color: #f4f4f4;
  --secondary-font-color: #333;
  --primary-background: #333;
  --primary-theme: #359DBE;
  --secondary-theme: #31819A;
}

* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  color: var(--primary-font-color);
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-background) url('./assets/background.png') scroll;
  background-size: 100%;
}