.Header {
    position: fixed;
    top: 0;
}

.Header .HeaderContent {
    position: relative;
    width: 100vw;
    background-color: var(--primary-theme);
    padding: 8px;
}

.Header .HeaderContent ul {
    list-style: none;
}

.Header .HeaderContent ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 2;
    flex-wrap: wrap;
}

.Header .HeaderContent ul li a :first-child {
    margin-right: 4px;
}

.Header .HeaderContent nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header .HeaderContent nav .MenuToggler svg {
    transform: scale(2);
    margin: 0 8px;
}

.Header .HeaderContent nav > span {
    font-size: 1.3rem;
}

.Header .HeaderContent nav .HeaderLinks {
    display: none;
}

.Header .HeaderContent .HeaderDropdown {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    background: var(--primary-theme) url('../../assets/dropdown-background.png');
}

.Header .HeaderContent .HeaderDropdown.Open {
    animation: openDropdownMenu 200ms linear forwards;
}

.Header .HeaderContent .HeaderDropdown.Close {
    animation: closeDropdownMenu 200ms linear forwards;
}

.Header .HeaderContent .HeaderDropdown.Closed {
    display: none;
}

.Header .HeaderContent .HeaderDropdown .DropdownLinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Header .HeaderContent .HeaderDropdown .DropdownLinks span {
    margin-top: 5px;
}

@keyframes openDropdownMenu {
    from {
        display: none;
        transform: translateY(-100%);
    }
    to {
        display: block;
        transform: translateY(0);
        z-index: -1;
    }
}

@keyframes closeDropdownMenu {
    from {
        display: block;
        transform: translateY(0);
    }
    to {
        display: none;
        transform: translateY(-100%);
        z-index: -1;
    }
}