.Header {
    position: fixed;
    top: 0;
    z-index: 10;
}

.Header .HeaderContent {
    position: relative;
    width: 100vw;
    background-color: var(--primary-theme);
    padding: 8px;
}

.Header .HeaderContent ul {
    list-style: none;
}

.Header .HeaderContent ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 2;
    flex-wrap: wrap;
}

.Header .HeaderContent ul li a :first-child {
    margin-right: 4px;
}

.Header .HeaderContent nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 16px;
}

.Header .HeaderContent nav .MenuToggler svg {
    transform: scale(2);
    margin: 0 8px;
    cursor: pointer;
}

.Header .HeaderContent nav>span {
    font-size: 1.3rem;
}

.Header .HeaderContent nav .HeaderLinks {
    display: none;
}

.Header .HeaderContent .HeaderDropdown {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    background: var(--primary-theme) url('../../assets/dropdown-background.png');
}

.Header .HeaderContent .HeaderDropdown.Open {
    animation: openDropdownMenu 200ms linear forwards;
}

.Header .HeaderContent .HeaderDropdown.Close {
    animation: closeDropdownMenu 200ms linear forwards;
}

.Header .HeaderContent .HeaderDropdown.Closed {
    display: none;
}

.Header .HeaderContent .HeaderDropdown .DropdownLinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Header .HeaderContent .HeaderDropdown .DropdownLinks span {
    margin-top: 5px;
}
.Header .HeaderContent li:hover a :first-child, 
.Header .HeaderContent li:hover a :nth-child(2), 
.Header .HeaderContent li:hover a :last-child, 
.Header .HeaderContent li:hover a span {
    color: var(--secondary-font-color);
}

@keyframes openDropdownMenu {
    from {
        display: none;
        transform: translateY(-100%);
    }
    to {
        display: block;
        transform: translateY(0);
        z-index: -1;
    }
}

@keyframes closeDropdownMenu {
    from {
        display: block;
        transform: translateY(0);
    }
    to {
        display: none;
        transform: translateY(-100%);
        z-index: -1;
    }
}

@media screen and (min-width: 700px) {
    .Header .HeaderContent {
        padding: 4px 8px;
    }
    .Header .HeaderContent nav .HeaderLinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Header .HeaderContent nav span.Logo {
        margin: auto -8px auto 8px;
    }
    .Header .HeaderContent nav .HeaderLinks li {
        margin: auto 10px;
        font-size: 1rem;
        display: flex;
        align-items: center;
    }
    .Header .HeaderContent nav .HeaderLinks li span {
        margin-top: 5px;
    }
    .Header .HeaderContent nav .MenuToggler {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .Header .HeaderContent nav .HeaderLinks li {
        font-size: 1.2rem;
    }
    .Header .HeaderContent nav span.Logo {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 1000px) {
    .Header .HeaderContent nav .HeaderLinks li {
        font-size: 1.4rem;
    }
    .Header .HeaderContent nav span.Logo {
        font-size: 2rem;
    }  
}

@media screen and (min-width: 3000px) {
    .Header .HeaderContent nav {
        padding: 50px;
    }

    .Header .HeaderContent nav span.Logo {
        font-size: 7rem;
    }

    .Header .HeaderContent nav .HeaderLinks li {
        font-size: 4rem;
        margin: auto 50px;
    }
}